* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body * {
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(150deg, #0F2B05, #000000);
    height: 100vh;
    text-align: center;
}

header {
    padding: 75px 0;
}

.card {
    width: 354px;
    height: 508px;

    background-image: url(./assets/bg-explorer.svg);
    display: inline-block;

    opacity: 0;
    transform: translateY(-100px);
    animation: appear .4s forwards;
}

.card > img {
    border-radius: 50%;
    border: 4px solid #F7DD43;
    margin: 103px 0 108px 0;

    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.info {
    text-align: left;
    margin-left: 70px;
    color: #fff;
}

.info h1 {
    font-size: 18px;
    line-height: 140%;
}

.info p {
    font-size: 14px;
    line-height: 160%;
}

@keyframes appear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}